@media (min-aspect-ratio: 1/1) {
  html {
    --major-axis: 100vw;
    --minor-axis: 100vh;
  }
}

@media (max-aspect-ratio: 1/1) {
  html {
    --major-axis: 100vh;
    --minor-axis: 100vw;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --max-square-size: 250px;
  --square-size: round(
    down,
    min(calc(100vw / 7), calc(100vh / 6), var(--max-square-size)),
    1px
  );

  --border-thickness: round(down, calc(var(--square-size) / 16), 1px);

  --hand-separator-thickness: round(down, calc(var(--square-size) / 4), 1px);
}

#SkyHand {
  position: absolute;
  left: var(--border-thickness);
  top: var(--border-thickness);
}

#Board {
  position: absolute;
  left: calc(
    var(--border-thickness) + var(--square-size) +
      var(--hand-separator-thickness)
  );
  top: var(--border-thickness);
}

#ForestHand {
  position: absolute;
  left: calc(
    var(--border-thickness) + 4 * var(--square-size) + 2 *
      var(--hand-separator-thickness)
  );
  top: var(--border-thickness);
}

#AnalysisBox {
  position: absolute;
  left: calc(2 * var(--border-thickness));
  top: calc(
    2 * var(--border-thickness) + 4 * var(--square-size) +
      var(--hand-separator-thickness)
  );
}

.Square {
  position: absolute;
  width: var(--square-size);
  height: var(--square-size);
}

.SquareOverlay {
  pointer-events: none;
}

.Square img {
  position: absolute;
  top: var(--border-thickness);
  left: var(--border-thickness);
  width: calc(var(--square-size) - 2 * var(--border-thickness));
  height: calc(var(--square-size) - 2 * var(--border-thickness));
}

.Square--bestActionSpecies,
.Square--bestActionStart,
.Square--bestActionDest {
  background-color: #8800ff;
}

.Square--mouseOver {
  background-color: #666666;
}

.Square--selected {
  background-color: #ce7eff;
}

.Square--board0 {
  top: calc(3 * var(--square-size));
  left: calc(0 * var(--square-size));
}

.Square--board1 {
  top: calc(3 * var(--square-size));
  left: calc(1 * var(--square-size));
}

.Square--board2 {
  top: calc(3 * var(--square-size));
  left: calc(2 * var(--square-size));
}

.Square--board3 {
  top: calc(2 * var(--square-size));
  left: calc(0 * var(--square-size));
}

.Square--board4 {
  top: calc(2 * var(--square-size));
  left: calc(1 * var(--square-size));
}

.Square--board5 {
  top: calc(2 * var(--square-size));
  left: calc(2 * var(--square-size));
}

.Square--board6 {
  top: calc(1 * var(--square-size));
  left: calc(0 * var(--square-size));
}

.Square--board7 {
  top: calc(1 * var(--square-size));
  left: calc(1 * var(--square-size));
}

.Square--board8 {
  top: calc(1 * var(--square-size));
  left: calc(2 * var(--square-size));
}

.Square--board9 {
  top: calc(0 * var(--square-size));
  left: calc(0 * var(--square-size));
}

.Square--board10 {
  top: calc(0 * var(--square-size));
  left: calc(1 * var(--square-size));
}

.Square--board11 {
  top: calc(0 * var(--square-size));
  left: calc(2 * var(--square-size));
}

.Square--hand0 {
  top: calc(3 * var(--square-size));
  left: 0;
}

.Square--hand1 {
  top: calc(2 * var(--square-size));
  left: 0;
}

.Square--hand2 {
  top: calc(1 * var(--square-size));
  left: 0;
}

.Square--hand3 {
  top: calc(0 * var(--square-size));
  left: 0;
}
